<%= form_for(@user, :url => user_path(@user)) do |f| %>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up and log in", :class => "btn btn-primary" %>
  </div>
<% end %>
