<div class="row">
  <div class="col">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
      </div>

      <p>
        <%= f.submit "Change my password", class: 'btn btn-primary' %>
      </p>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
