<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Doorkeeper Provider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <div class="container py-md-3">
        <%= render 'layouts/flash', flash: flash %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
