<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper OAuth 2 Provider</title>
  <%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",
                             "http://twitter.github.com/bootstrap/1.4.0/bootstrap-scrollspy.js",
                             "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= render 'layouts/flash', :flash => flash %>
  <%= yield %>
</div>

</body>
</html>
